@import "tailwindcss";

/* custom colors -figma */
@theme {
  --color-primary: #FF5037;
  --color-primary-light: #FF786A;
  --color-gold: #FFC331;
  --color-cream: #FDF1D2;
  --color-dark: #1A1A1A;
  
  --font-sans: 'Inter', sans-serif;
}


.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: #1A1A1A;
  background: #ffffff;
}

